@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<link href="~/css/MenuPrincipal.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    
    <div class="container">
        <div class="box bg-light">
            <p><h4 class="d-inline-flex">Bem vindo eleitor!</h4></p>
            <p class="d-inline-flex">Selecione uma das opções acima elencadas!</p>
        </div>
    </div>
</body>
</html>